<nav class="cover-navigation navigation--social">
    <ul class="navigation">
  
    {{ if  .Site.Params.social.weibo }}
    <!-- Weibo -->
    <li class="navigation__item">
      <a href="http://bearlymatt.itch.io/" title="bearlyMatt" target="_blank">
        <i class="fa-brands fa-itch-io"></i>
        <span class="label">Itch.io</span>
      </a>
    </li>
    {{ end }}
  
    {{ if  .Site.Params.social.github }}
    <!-- Github -->
    <li class="navigation__item">
      <a href="https://bearlymatt.bandcamp.com/" title="bearlyMatt" target="_blank">
        <i class='fa-brands fa-bandcamp'></i>
        <span class="label">Bandcamp</span>
      </a>
    </li>
    {{ end }}
    
    {{ if  .Site.Params.social.twitter }}
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/bearly_matt" title="@bearly_matt" target="_blank">
        <i class='social fa fa-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    {{ end }}
  
    {{ if  .Site.Params.social.gplus }}
    <!-- Google Plus -->
    <li class="navigation__item">
      <a href="https://twitch.tv/punckrockturtle" title="PunckRockTurtle" target="_blank">
        <i class='fa-brands fa-twitch'></i>
        <span class="label">Twitch</span>
      </a>
    </li>
    {{ end }}

    {{ if  .Site.Params.social.mail }}
    <!-- Email -->
    <li class="navigation__item">
      <a href="https://rollformischief.com" title="Roll For Mischief">
        <i class="fa-solid fa-dice-d20"></i>
        <span class="label">Roll for Mischief</span>
      </a>
    </li>
    {{ end }}

    {{ if  .Site.Params.social.mail }}
    <!-- Email -->
    <li class="navigation__item">
      <a href="https://bearsoundstudio.com" title="bearSound Studio">
        <i class="fa-solid fa-microphone-lines"></i>
        <span class="label">bearSound Studio</span>
      </a>
    </li>
    {{ end }}

    {{ if  .Site.Params.social.mail }}
    <!-- Email -->
    <li class="navigation__item">
      <a href="https://rollformischief.com" title="Ko-fi">
        <i class="fa-solid fa-mug-saucer"></i>
        <span class="label">Ko-Fi</span>
      </a>
    </li>
    {{ end }}

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/index.xml" rel="author" title="RSS" target="_blank">
        <i class='social fa fa-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>
  
    </ul>
  </nav>
  